* {
  font-family: Gotham, sans-serif;
}
.body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}
/*navbar section*/
.nav-bar {
  top: 0;
  position: fixed;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: white;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container {
  height: 25px;
  width: 170px;
}
.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 40px;
}

.location-container img {
  width: 30px;
}
.location-service-text {
  line-height: 0.1;
}
.location-service-text .nearest-charger-text {
  font-size: small;
}
.location-service-text .location-text {
  font-weight: 800;
}
.navigation-links {
  align-items: center;
  justify-items: center;
  height: 50px;
}
.navigation-links ul {
  display: flex;
}
.navigation-links ul li {
  list-style: none;
}
.navigation-links ul li a {
  text-decoration: none;
  color: #000;
  align-items: center;
  font-weight: 500;
}

.navigation-links ul li {
  padding-left: 25px;
}

.search-icon-container {
  position: absolute;
  top: 25px;
  left: 97%;
  justify-items: center;
}
.search-icon-container img {
  height: 20px;
  width: 20px;
}

/*Finder Section*/

.vehicle-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vehicle-selector ul {
  display: flex;
  justify-content: center;
}
.vehicle-selector ul li {
  list-style: none;
  padding-right: 60px;
}
.finder-container {
  position: relative;
  top: 30vh;
  height: 100vh;
}
.finder-container .vehicle-selector a {
  text-decoration: none;
  color: black;
}
.vehicle-selector .active {
  background: rgb(182, 182, 182);
}
.spec-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.spec-items-container {
  box-sizing: border-box;
  position: relative;
  width: 1106px;
  height: 233px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
}
.buttons-container {
  position: relative;
  top: 5px;
  display: flex;
  height: auto;
  justify-items: center;
  justify-content: space-between;
  margin: 20px;
}
i {
  color: #000;
}
.buttons-container button {
  box-sizing: border-box;

  width: 261px;
  height: 55px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

#ev-brand {
  cursor: pointer;
  font-size: 16px;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.price-range-container {
    
  display: flex;
  margin: 50px;
}

/*Slider*/

.range_container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left:20px;
}

.sliders_control {
  position: relative;
  min-height: 50px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #000000;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border-radius: 50%;
 
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border-radius: 50%;
  
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #000000;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

#search-ev{
    height: 51px;
width: 120px;
margin-left: 73px;
background: black;
color: white;
border: none;
}
